.header {
  display: flex;
  height: 400px;
  background-color: thistle;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  width: 100%
}

#name {
  color: black;
  font-weight: 200;

}

