.navbar{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #4056A1;
  width:100%;
  height: 120px;
  color:#FFFFFF ;  
}

/* write a new tweet logo */
.navbar footer .write span {
  background-color:transparent;
  border: none;
  outline: none;
  
}

/* disigning "write" for write a new tweet */
.navbar footer .write span b {
  color: #792727;
  font-size: larger;
  padding-right:4px;
  
}

.logo {
  font-family: "Bungee";
  color: #ffffff;
  font-size: xx-large;
  margin: 1.5em;
}

.navbar footer .write {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
  padding-top: 1em;
  font-size:large;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  background-color: transparent;
}


/* double arrows */
.navbar footer .fas {
  font-size: 1.8em;
  color: #792727;
  font-size: 1.8em;
}

/* @media only screen and (max-width:1024px) {
  .navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #4056A1;
  background-image: url(http://www.transparenttextures.com/patterns/foggy-birds.png);
  width:100%;
  height: 120px;
  color:#FFFFFF;  
  }

  .navbar footer .write {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
  }
} */


