nav{
  height: 120px;
  background-color: #4056A1 ;
  width:100vw;
  color:#FFFFFF ;  
}

#navID { 
  display: inline-flex;
  height: 60px;
  margin-top: 1.5em;
  margin-left:1.5em;
  font-family:"Bungee";
}

#navArrow {
  position: relative;
  color: #ff0000;
  margin-top: 3.2em; 
  float: right;
  margin-right: -7em;
  margin-top: 3em;
}

#newTweet{
  position: relative;
  float: right;
  margin-left: 3em;
  margin-top: 1.5em;
  padding-right: 1em;
  font-family:"Source Sans Pro", sans-serif;
}
