
.new-tweet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 6em;
  font-weight: bold;
  padding-bottom: 1em;
  
}

#compose-text{
  font-weight: bold;
  margin-top: .2em;
}

#humming {
  font-weight: bold;
  color: black;
  font-family: "Source Sans Pro", sans-serif;

}

.submit-and-display button {
  font-size: large;
  font-family: "Bungee";
  background-color:#0000ff;
  color: #ffffff;
}

textarea {
  display: block;
  border: none;
  border-bottom: solid #000000;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 200; 
  height: 35px;
  width: 100%;
  background-color:#f4f1ec;
}

.submit-and-display {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  font-size: medium;
  font-family: 'Bungee';
  font-weight: bold;
}

.negative-count{
  color:red;
}
