
.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  font-weight: bold;
  margin: 0.5em;    
  margin-left: 1.5em;
  
}

/* tweet button to post tweets */

.submit-and-display button {
  border: none;
  color: #ffffff;
  font-family: "Bungee";
  font-size: medium;
  background-color:#792727;  

}

/* input of tweets */
textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  display: block;
  outline: none;
  border: none;
  border-bottom: solid black;
  background-color: #f4f1ec;
  margin-top: .5em;
  resize: none;
  height: 1.5em;
  width: 100%;
  overflow: hidden;

}

.submit-and-display {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
  margin-top: .5em;
  font-size: medium;

}

/* if character count exceeds 140 */
.negative-count{
  color:#ff0000;

}

 /* @media only screen and (max-width:1024pxx) {
  .new-tweet {
    width: 90%;
    
  }
}  */