.tweetHeader {
  font-size: 20px;
  margin: 0.5em;
  margin-top: .5em;
  display: flex;
  justify-content: space-between;
  border: 3px solid pink;
}

 /* tweet reactions and hover*/

.tweet-reactions{
  margin-left: .5em;
}
.tweet-reactions #flag{
  color: #5b6dd6;
  margin-right: .5em;
}
.tweet-reactions #retweet{
  color: #5b6dd6;
  margin-right: .5em;
}
.tweet-reactions #heart{
  color: #5b6dd6;
  margin-right: .5em;
}
.tweet-reactions #flag:hover{
  color: #e6c50fc9;
  margin-right: .5em;
}
.tweet-reactions #retweet:hover{
  color: #e6c50fc9;
  margin-right: .5em;
}
.tweet-reactions #heart:hover{
  color: #e6c50fc9;
  margin-right: .5em;
}

/* tweet info placement */
article #info span{
  display: block;
  margin-left: 1em;
}


/* time stamp */
.timeStamp{
  display: flex;
  align-items: flex-start;
  margin-left:.5em;
  font-size: large;
  font-weight: bold;
  margin-top: 1em;
  padding-bottom: 1em;  
}

