
.all-tweets{
position: absolute;
 align-items: center;
 margin-top: 9em;
 width: 90%;
 margin-bottom: 2em;
 border: 2px solid black;
 border-width: 90%;
 margin-left: 4em;
}

.all-tweets header {
 display: flex;
  
 font-size: 20px;
 margin: 0.5em; 
}

.all-tweets .name{
  padding-left: 0 em;
  color: #000000;
  margin-top: 5em;
}

.all-tweets .userName{
  float: right;
  color: #e969a9;;
  margin-top: 0em;
  margin-left: 42em;

}

.all-tweets footer {
  border-top: 2px solid #000000;
  border-width: 70%;
  margin-left: 4em;
} 

.tweet-info{
  margin-left: 6.5em;
  padding-bottom: 1em;
  }

.timestamp{
  display: flex;
  margin-left: 5em;
  font-size: small;
  margin-top: 1em;
  padding-bottom: 1em;
  
}

.icons{
  font-size: medium;
  padding-left: 65em;
  margin-top: -1.6em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;

  
}
.icons .flag{
  color: #3550e6;
  margin-right: 1em;
}
.icons .retweet{
  color: #3550e6;
  margin-right: 1em;
}
.icons .heart{
  color: #3550e6;
  margin-right: 1em;
}
.icons .flag:hover{
  color: #e6c50fc9;
  margin-right: 1em;
}
.icons .retweet:hover{
  color: #e6c50fc9;
  margin-right: 1em;
}
.icons .heart:hover{
  color: #e6c50fc9;
  margin-right: 1em;
}